@import "layout";
@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');


$color-main-text: #050409;
$color-decoration: #41c3ca;
$color-icons: #817D7D;
$color-white: #F9F9F9;
$color-radial: #41c3ca+#F9F9F9;


body {
	font-family: Roboto;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.05em;
	line-height: 100%;
	color: $color-main-text;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0 0 10px;
}

.ba-title-1 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 43px;

}

.ba-title-2 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 1.1;
	margin-bottom: 10px;
}

.ba-title-3 {
	font-size: 12px;
	font-weight: 700;
	line-height: 1.1;
}

a {
	text-decoration: none;
	color: $color-main-text;

	&:hover {
		opacity: 0.5;
	}
}


svg {
	fill: $color-main-text;
}

/* Layout */
.ba-container {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1210px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="submit"],
input[type="button"],
button,
.ba-button {
	display: inline-block;
	margin: 60px 0 50px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	background: #fff;
	border: 1px solid $color-icons;
	height: 45px;
	width: 225px;
	text-align: center;

	&:hover {
		opacity: 0.5;
	}
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {}

textarea {}

.ba-header {
	padding: 100px 0;
	position: relative;

	&__full {
		position: relative;
	}

	&__logo {
		position: absolute;
		top: 0;
		left: calc(50% - 57.5px);

		&:hover {
			color: $color-decoration;
		}
	}

	&__UA:hover {
		color: $color-decoration;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5px;

		&--left {
			color: $color-main-text;
			text-transform: uppercase;
		}

		&--right {
			color: $color-icons;
		}
	}

	&__bottom {
		text-align: center;

		&--style {
			background: $color-decoration;
			color: $color-white;
			text-transform: uppercase;
			padding-top: 9px;
			padding-bottom: 9px;

			a {
				color: $color-white;
				text-decoration: none;

				&:hover {
					color: $color-main-text;
				}
			}
		}
	}
}

// MAIN
// MAIN
// MAIN
.ba-main {
	padding: 100px 0 100px;
	position: relative;


}

.ba-absolute {
	position: relative;

	&__img {
		position: absolute;
		right: 0;
		bottom: -199px;
		transform: rotate(20.58deg);
	}
}

.ba-description {
	&__material {
		padding: 45px 0;

	}

	&__contact {
		.ba-title-2 {
			margin-bottom: 45px;
		}
	}
}

// FOOTER
// FOOTER
// FOOTER
.ba-footer {
	padding: 35px 0 16px;

	&__content {
		text-align: center;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.05em;
		border-top: 15px solid $color-decoration;
		padding-top: 35px;

	}

	&__socials {
		margin-bottom: 26px;

	}

	&__links+&__links {
		padding-left: 13px;
	}

	&__subscribe {
		margin-bottom: 26px;
	}

	&__tel {
		margin-bottom: 60px;
		display: block;
	}

	&__copyright--left {
		text-align: right;
		position: relative;

	}

	&__copyright--right {
		text-align: left;
		text-transform: lowercase;
		position: relative;

		a::first-letter {
			text-transform: capitalize;
		}

		&:before {
			display: block;
			content: "";
			width: 1px;
			height: 60px;
			background-color: $color-icons;
			position: absolute;
			left: 14px;
			top: -26px;

		}

	}

	&__lady {
		position: absolute;
		left: 0;
		top: -75px;
		display: flex;
		flex-direction: column;
		align-items: center;

		span {
			font-size: 16px;
			position: relative;

			&::after {
				display: block;
				position: absolute;
				height: 1px;
				width: 3000px;
				overflow: hidden;
				content: "";
				background: $color-icons;
				left: -2887px;

			}

		}

		svg {
			margin-right: 10px;
			margin-top: 10px;
		}
	}

}

// KATALOG
// KATALOG
// KATALOG

.ba-katalog {


	&__card {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;

		&:nth-child(2) {
			flex-direction: column-reverse;
		}
	}

	&__title {
		position: relative;

		.ba-title-2 {
			text-align: right;

			&::before {
				display: block;
				content: "";
				background: $color-icons;
				height: 1px;
				width: 277px;
				position: absolute;
				left: 0;
				top: calc(50% - 1px);
			}

		}
	}

	&__img {
		position: relative;
		text-transform: uppercase;
		z-index: 1;

		img::after {
			position: absolute;
			display: block;
			content: "";
			height: 1px;
			width: 177px;
			// background: linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
			background: fuchsia;
			z-index: 2;
		}
	}

	&__name {
		position: absolute;
		bottom: 60px;
		right: 140px;
		z-index: 2;
	}

	&__link {
		position: absolute;
		bottom: 20px;
		right: 80px;
		z-index: 2;
	}
}