@import "layout";
@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');


$color-main-text: #050409;
$color-decoration: #41c3ca;
$color-icons: #817D7D;
$color-white: #F9F9F9;
$color-radial: #41c3ca+#F9F9F9;


body {
	font-family: Roboto;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 5px;
	line-height: 100%;
	color: $color-main-text;
}

a {
	text-decoration: none;
	color: $color-main-text;
}

/* Layout */
.ba-container {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1210px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="submit"],
input[type="button"],
button,
.ba-button {
	display: inline-block;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {}

textarea {}

.ba-header {
	padding: 100px 0;
	position: relative;

	&__full {
		position: relative;
	}

	&__logo {
		position: absolute;
		top: 0;
		left: calc(50% - 57.5px);

		&:hover {
			color: $color-decoration;
		}
	}

	&__UA:hover {
		color: $color-decoration;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5px;

		&--left {
			color: $color-main-text;
			text-transform: uppercase;
		}
	}

	&__bottom {
		text-align: center;

		&--style {
			background: $color-decoration;
			color: $color-white;
			text-transform: uppercase;
			padding-top: 9px;
			padding-bottom: 9px;

			a {
				color: $color-white;
				text-decoration: none;

				&:hover {
					color: $color-main-text;
				}
			}
		}
	}
}